<!-- team-builder.component.html -->
<div class="team-builder">
  <h2>Monte Seu Time</h2>
  <div class="team-actions">
    <button mat-raised-button class="random-button" (click)="addRandomToTeam()">
      <app-pokemon-icon iconId="pokeball" size="sm"></app-pokemon-icon>
      Escolha Aleatória
    </button>
    <button mat-raised-button class="auto-complete-button" (click)="autoCompleteTeam()">
      <app-pokemon-icon iconId="pokeballs" size="sm"></app-pokemon-icon>
      Auto-Completar
    </button>
  </div>

  <h3>Time Atual</h3>
  <div class="team-slots">
    <div *ngFor="let slot of [0, 1, 2, 3, 4, 5]" class="team-slot" [class.filled]="team()[slot]">
      <ng-container *ngIf="team()[slot]; else emptySlot">
        <div class="pokemon-card" [class.fainted]="team()[slot].isFainted">
          <img [src]="team()[slot].image" [alt]="team()[slot].name" />
          <span>{{ team()[slot].name }}</span>

          <div class="hp-bar">
            <div class="hp"
                [ngClass]="{
                  'low': (team()[slot].stats.hp / team()[slot].stats.maxHp) <= 0.5 && (team()[slot].stats.hp / team()[slot].stats.maxHp) > 0.25,
                  'critical': (team()[slot].stats.hp / team()[slot].stats.maxHp) <= 0.25
                }"
                [style.width.%]="(team()[slot].stats.hp / team()[slot].stats.maxHp) * 100"></div>
          </div>
          <div class="hp-text">
            {{ team()[slot].stats.hp }} / {{ team()[slot].stats.maxHp }}
          </div>

          <button mat-button color="warn" (click)="removePokemonFromTeam(team()[slot])" [disabled]="battleInProgress">
            Remover
          </button>
        </div>
      </ng-container>
      <ng-template #emptySlot>
        <div class="empty-slot">
          <app-custom-icon name="question" size="lg" color="#ffcb05" class="empty-icon"></app-custom-icon>
          <span>Slot {{ slot + 1 }}</span>
        </div>
      </ng-template>
    </div>
  </div>

  <h3 *ngIf="team().length < 6">Lista de Pokémon</h3>
  <app-pokemon-list
    *ngIf="team().length < 6"
    [pokemons]="availablePokemons()"
    (selectPokemon)="addPokemonToTeam($event)"
  ></app-pokemon-list>
</div>
