.report-container {
  max-height: 400px;
  overflow-y: auto;
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.report-content {
  max-height: 100%;
  overflow-y: scroll;
}
